# ---------------------------
# Miscellaneous
# ---------------------------
*.class
*.log
*.pyc
*.swp
*.tmp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ---------------------------
# IDE settings
# ---------------------------
*.iml
*.ipr
*.iws
.idea/
.vscode/

# ---------------------------
# Flutter/Dart/Pub related
# ---------------------------
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id
flutter_*.png

# ---------------------------
# Android
# ---------------------------
android/.gradle/
android/app/build/
android/app/debug
android/app/profile
android/app/release
android/local.properties
.gradle/
captures/
outputs/
generated/

# ---------------------------
# iOS
# ---------------------------
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/.last_build_id

# Xcode
xcuserdata/
DerivedData/
*.xcworkspace

# ---------------------------
# Web
# ---------------------------
web/.dart_tool/
web/build/

# ---------------------------
# Symbolication / Obfuscation
# ---------------------------
app.*.symbols
app.*.map.json
lib/firebase_options.dart
